In [39]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from numpy import loadtxt
%matplotlib inline

In [40]:
bulkCellDF = pd.read_csv('bulk_data.txt', sep='\t')

In [41]:
singleCellDF = pd.read_csv('singleCellMatrix.txt', sep='\t')

In [42]:
#Make first row the column names for both singleCellDF and bulkCellDF
#new_header = singleCellDF.iloc[0] #grab the first row for the header
#singleCellDF = singleCellDF[1:] #take the data less the header row
#singleCellDF.columns = new_header #set the header row as the df header

In [43]:
#new_header_2 = bulkCellDF.iloc[0] #grab the first row for the header
#bulkCellDF = bulkCellDF[1:] #take the data less the header row
#bulkCellDF.columns = new_header_2 #set the header row as the df header

In [44]:
singleCellDF.head()

,gene_name,BC_01,BC_02,BC_03,BC_03LN,BC_04,BC_05,BC_06,BC_07,BC_07LN,BC_08,BC_09,BC_10,BC_11
0,TFPI,0.026391,0.000000,6.344181,4.228413,5.598288,4.586780,1.526069,6.556976,2.644596,1.390046,2.084858,0.000000,1.819668
1,CD38,0.009402,0.051621,5.028975,7.024132,0.389380,0.000000,4.325674,2.696954,4.994127,0.495695,6.107203,0.071248,0.775529
2,MPO,0.000000,0.000000,2.229172,2.399445,0.011205,0.000000,0.016068,0.679132,0.003263,0.000000,0.000000,0.000000,0.000000
3,ABCB4,0.000000,0.523203,4.727185,0.373661,0.575969,1.865790,3.221382,2.328701,2.421725,0.031027,2.583118,0.000000,0.000000
4,TBXA2R,0.000000,0.167174,0.000000,0.161155,0.968231,0.085124,0.000000,0.688290,0.395580,0.264079,0.000000,0.083213,0.000000

In [45]:
bulkCellDF.head()

,Unnamed: 0,TCGA-3C-AAAU,TCGA-3C-AALI,TCGA-3C-AALJ,TCGA-3C-AALK,TCGA-4H-AAAK,TCGA-5L-AAT0,TCGA-5L-AAT1,TCGA-5T-A9QA,TCGA-A1-A0SB,...,TCGA-UL-AAZ6,TCGA-UU-A93S,TCGA-V7-A7HQ,TCGA-W8-A86G,TCGA-WT-AB41,TCGA-WT-AB44,TCGA-XX-A899,TCGA-XX-A89A,TCGA-Z7-A8R5,TCGA-Z7-A8R6
0,A1BG,10.064991,9.675944,9.772580,9.756626,10.208880,9.346765,8.925402,10.136008,7.682179,...,7.700337,9.703472,11.615322,11.038146,8.156410,10.081980,10.052689,9.982739,10.428511,10.384288
1,A2M,8.476123,8.204151,7.692195,9.129658,8.896195,8.796722,8.643884,7.016084,10.534111,...,7.945639,6.700180,8.113517,9.672359,8.008000,7.141375,10.092677,9.579056,10.347338,8.801447
2,NAT1,11.334028,6.878141,7.215230,8.276916,5.132109,7.195704,8.421207,7.562997,3.936919,...,4.811335,3.817090,5.291848,10.001019,5.889004,8.972621,6.080969,8.356737,9.145410,9.405001
3,NAT2,9.004335,11.342503,4.132048,8.510719,5.090309,8.443793,6.068978,6.867093,5.661086,...,6.068978,9.803829,8.373611,9.572784,8.443793,10.491273,7.226914,13.856388,7.860901,7.226914
4,SERPINA3,9.610273,2.275818,7.534892,8.999033,8.579733,8.775045,5.266713,4.764187,6.742392,...,8.872406,3.396168,8.652286,9.074470,5.091207,8.335818,9.516412,10.272908,10.710089,10.799517

In [46]:
bulkCellDF = bulkCellDF.rename(index=str, columns={"Unnamed: 0": "gene_name"})

In [47]:
singleCellDF.shape

(422, 14)

In [48]:
bulkCellDF.shape

(21022, 1095)

In [49]:
joined_df = bulkCellDF.merge(singleCellDF, on='gene_name', how='inner')

In [50]:
joined_df.shape

(421, 1108)

In [51]:
joined_df.head()

,gene_name,TCGA-3C-AAAU,TCGA-3C-AALI,TCGA-3C-AALJ,TCGA-3C-AALK,TCGA-4H-AAAK,TCGA-5L-AAT0,TCGA-5L-AAT1,TCGA-5T-A9QA,TCGA-A1-A0SB,...,BC_03LN,BC_04,BC_05,BC_06,BC_07,BC_07LN,BC_08,BC_09,BC_10,BC_11
0,ACACB,9.133498,6.342497,6.933454,7.165672,8.210531,8.176793,6.938200,11.197878,8.081337,...,1.380830,0.650297,0.701074,0.000000,2.333199,0.341395,0.008755,0.319425,0.000000,1.031139
1,ADARB1,9.950973,8.154415,7.585128,10.107984,10.016327,9.685011,7.803326,8.078978,9.855646,...,2.864515,0.156934,0.868050,0.009777,0.740864,0.668171,3.542204,0.436517,2.510487,4.404693
2,ADCY1,14.324604,5.724666,7.828702,8.492381,6.158429,6.216949,5.424067,5.545286,5.960905,...,0.017468,0.004639,0.088124,0.000000,0.230131,0.020004,0.489007,0.000000,0.000000,0.000000
3,ADCYAP1,9.761663,6.255447,4.561885,6.105541,8.618625,6.515331,7.622291,4.007144,6.735468,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.932274,0.000000
4,AES,9.896728,9.825457,9.095660,10.474256,9.186910,9.791401,9.181365,9.740006,9.686296,...,3.746704,3.737100,3.854514,2.726831,4.042662,5.139659,3.076797,4.416254,4.054143,3.969682

In [52]:
#final_bulk_df = joined_df.loc[:,'gene_id':'sample30']
final_bulk_df = joined_df.loc[:,'gene_name':'TCGA-Z7-A8R6']

In [53]:
final_bulk_df.to_csv('1094_bulk_data.txt', sep='\t',index=False)

In [54]:
#joined_df.drop(joined_df.columns[[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]],axis=1,inplace=True)
#joined_df.drop(joined_df.columns[[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]],axis=1,inplace=True)
single_cell_df = joined_df.loc[:,'BC_01':'BC_11']

In [55]:
single_cell_df.insert(0, 'gene_name', joined_df.iloc[:,0])

In [56]:
single_cell_df.head()

,gene_name,BC_01,BC_02,BC_03,BC_03LN,BC_04,BC_05,BC_06,BC_07,BC_07LN,BC_08,BC_09,BC_10,BC_11
0,ACACB,0.000000,0.488001,0.856851,1.380830,0.650297,0.701074,0.000000,2.333199,0.341395,0.008755,0.319425,0.000000,1.031139
1,ADARB1,0.695309,0.044394,1.331411,2.864515,0.156934,0.868050,0.009777,0.740864,0.668171,3.542204,0.436517,2.510487,4.404693
2,ADCY1,0.763248,1.947533,0.104155,0.017468,0.004639,0.088124,0.000000,0.230131,0.020004,0.489007,0.000000,0.000000,0.000000
3,ADCYAP1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.932274,0.000000
4,AES,4.623403,3.788611,3.358237,3.746704,3.737100,3.854514,2.726831,4.042662,5.139659,3.076797,4.416254,4.054143,3.969682

In [57]:
single_cell_df.to_csv('164_single_cell.txt', sep='\t',index=False)

In [59]:
single_cell_df.shape

(421, 14)

In [60]:
final_bulk_df.shape

(421, 1095)