In [15]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from numpy import loadtxt
%matplotlib inline

In [16]:
#Create the bulk dataset
data1 = pd.read_csv('1.txt', sep='\t',header=None)
data2 = pd.read_csv('2.txt', sep='\t',header=None)
data3 = pd.read_csv('3.txt', sep='\t',header=None)
data4 = pd.read_csv('4.txt', sep='\t',header=None)
data5 = pd.read_csv('5.txt', sep='\t',header=None)
data6 = pd.read_csv('6.txt', sep='\t',header=None)
data7 = pd.read_csv('7.txt', sep='\t',header=None)
data8 = pd.read_csv('8.txt', sep='\t',header=None)
data9 = pd.read_csv('9.txt', sep='\t',header=None)
data10 = pd.read_csv('10.txt', sep='\t',header=None)
data11 = pd.read_csv('11.txt', sep='\t',header=None)
data12 = pd.read_csv('12.txt', sep='\t',header=None)
data13 = pd.read_csv('13.txt', sep='\t',header=None)
data14 = pd.read_csv('14.txt', sep='\t',header=None)
data15 = pd.read_csv('15.txt', sep='\t',header=None)
data16 = pd.read_csv('16.txt', sep='\t',header=None)
data17 = pd.read_csv('17.txt', sep='\t',header=None)
data18 = pd.read_csv('18.txt', sep='\t',header=None)
data19 = pd.read_csv('19.txt', sep='\t',header=None)
data20 = pd.read_csv('20.txt', sep='\t',header=None)
data21 = pd.read_csv('21.txt', sep='\t',header=None)
data22 = pd.read_csv('22.txt', sep='\t',header=None)
data23 = pd.read_csv('23.txt', sep='\t',header=None)
data24 = pd.read_csv('24.txt', sep='\t',header=None)
data25 = pd.read_csv('25.txt', sep='\t',header=None)
data26 = pd.read_csv('26.txt', sep='\t',header=None)
data27 = pd.read_csv('27.txt', sep='\t',header=None)
data28 = pd.read_csv('28.txt', sep='\t',header=None)
data29 = pd.read_csv('29.txt', sep='\t',header=None)
data30 = pd.read_csv('30.txt', sep='\t',header=None)

In [17]:
data1.columns = ['gene_id' , 's1']
data2.columns = ['gene_id' , 's2']
data3.columns = ['gene_id' , 's3']
data4.columns = ['gene_id' , 's4']
data5.columns = ['gene_id' , 's5']
data6.columns = ['gene_id' , 's6']
data7.columns = ['gene_id' , 's7']
data8.columns = ['gene_id' , 's8']
data9.columns = ['gene_id' , 's9']
data10.columns = ['gene_id' , 's10']
data11.columns = ['gene_id' , 's11']
data12.columns = ['gene_id' , 's12']
data13.columns = ['gene_id' , 's13']
data14.columns = ['gene_id' , 's14']
data15.columns = ['gene_id' , 's15']
data16.columns = ['gene_id' , 's16']
data17.columns = ['gene_id' , 's17']
data18.columns = ['gene_id' , 's18']
data19.columns = ['gene_id' , 's19']
data20.columns = ['gene_id' , 's20']
data21.columns = ['gene_id' , 's21']
data22.columns = ['gene_id' , 's22']
data23.columns = ['gene_id' , 's23']
data24.columns = ['gene_id' , 's24']
data25.columns = ['gene_id' , 's25']
data26.columns = ['gene_id' , 's26']
data27.columns = ['gene_id' , 's27']
data28.columns = ['gene_id' , 's28']
data29.columns = ['gene_id' , 's29']
data30.columns = ['gene_id' , 's30']

In [18]:
df_list = [data1,data2,data3,data4,data5,data6,data7,data8,data9,data10,data11,data12,data13,data14,data15,data16,data17,data18,data19,data20,data21,data22,data23,data24,data25,data26,data27,data28,data29,data30]

In [19]:
df = df_list[0]
for df_ in df_list[1:]:
    df = df.merge(df_, on='gene_id')

In [20]:
df.head()

,gene_id,s1,s2,s3,s4,s5,s6,s7,s8,s9,...,s21,s22,s23,s24,s25,s26,s27,s28,s29,s30
0,ENSG00000242268.2,0.029184,0.017403,0.018671,0.000000,0.120618,0.000000,0.000000,0.212163,0.022394,...,0.000000,0.000000,0.021161,0.000000,0.000000,0.091055,0.000000,0.000000,0.088430,0.000000
1,ENSG00000270112.3,0.000000,0.009659,0.002591,0.000000,0.010042,0.004327,0.000000,0.000000,0.000000,...,0.004086,0.000000,0.005872,0.002612,0.000000,0.004211,0.002792,0.003117,0.000000,0.000000
2,ENSG00000167578.15,7.505105,2.018037,5.013642,3.861754,2.614624,2.952673,3.663704,2.410482,1.470012,...,2.108498,16.956701,3.220830,2.128960,2.864286,4.121643,5.409693,2.073898,5.597594,3.887389
3,ENSG00000273842.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,ENSG00000078237.5,1.960336,3.789005,3.972959,4.364349,2.730921,4.101770,1.135532,4.420630,4.560010,...,5.215324,1.907473,2.201691,3.405006,2.004767,3.357559,2.877660,4.483979,3.330009,3.963173

In [21]:
df['sample1'] = (df['s1']*1000000)/df['s1'].sum()
df['sample2'] = (df['s2']*1000000)/df['s2'].sum()
df['sample3'] = (df['s3']*1000000)/df['s3'].sum()
df['sample4'] = (df['s4']*1000000)/df['s4'].sum()
df['sample5'] = (df['s5']*1000000)/df['s5'].sum()
df['sample6'] = (df['s6']*1000000)/df['s6'].sum()
df['sample7'] = (df['s7']*1000000)/df['s7'].sum()
df['sample8'] = (df['s8']*1000000)/df['s8'].sum()
df['sample9'] = (df['s9']*1000000)/df['s9'].sum()
df['sample10'] = (df['s10']*1000000)/df['s10'].sum()
df['sample11'] = (df['s11']*1000000)/df['s11'].sum()
df['sample12'] = (df['s12']*1000000)/df['s12'].sum()
df['sample13'] = (df['s13']*1000000)/df['s13'].sum()
df['sample14'] = (df['s14']*1000000)/df['s14'].sum()
df['sample15'] = (df['s15']*1000000)/df['s15'].sum()
df['sample16'] = (df['s16']*1000000)/df['s16'].sum()
df['sample17'] = (df['s17']*1000000)/df['s17'].sum()
df['sample18'] = (df['s18']*1000000)/df['s18'].sum()
df['sample19'] = (df['s19']*1000000)/df['s19'].sum()
df['sample20'] = (df['s20']*1000000)/df['s20'].sum()
df['sample21'] = (df['s21']*1000000)/df['s21'].sum()
df['sample22'] = (df['s22']*1000000)/df['s22'].sum()
df['sample23'] = (df['s23']*1000000)/df['s23'].sum()
df['sample24'] = (df['s24']*1000000)/df['s24'].sum()
df['sample25'] = (df['s25']*1000000)/df['s25'].sum()
df['sample26'] = (df['s26']*1000000)/df['s26'].sum()
df['sample27'] = (df['s27']*1000000)/df['s27'].sum()
df['sample28'] = (df['s28']*1000000)/df['s28'].sum()
df['sample29'] = (df['s29']*1000000)/df['s29'].sum()
df['sample30'] = (df['s30']*1000000)/df['s30'].sum()

In [22]:
df.tail()

,gene_id,s1,s2,s3,s4,s5,s6,s7,s8,s9,...,sample21,sample22,sample23,sample24,sample25,sample26,sample27,sample28,sample29,sample30
60478,ENSG00000105063.17,15.596332,9.535060,18.965261,17.679536,14.057604,22.202780,46.534521,11.317067,6.632260,...,217.711161,17.061352,68.275318,45.334510,62.047342,33.285064,97.067829,53.611561,44.640896,32.283624
60479,ENSG00000231119.2,0.114542,0.430314,0.095264,0.088313,0.160957,0.306001,0.282812,0.190332,0.246096,...,0.077105,4.630365,0.303466,0.777634,0.814317,0.576634,0.593305,0.492484,1.163321,0.253192
60480,ENSG00000280861.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
60481,ENSG00000123685.7,0.649190,0.204949,1.558708,0.520164,0.435612,0.840638,0.200742,0.904244,0.117210,...,1.722335,5.311792,1.434830,3.015085,1.055790,5.852849,0.953060,2.322137,1.856116,2.170615
60482,ENSG00000181518.3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [23]:
df.drop(df.columns[[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]],axis=1,inplace=True)

In [24]:
df.tail()

,gene_id,sample1,sample2,sample3,sample4,sample5,sample6,sample7,sample8,sample9,...,sample21,sample22,sample23,sample24,sample25,sample26,sample27,sample28,sample29,sample30
60478,ENSG00000105063.17,43.516702,37.260774,54.564639,54.746448,56.769426,71.310410,171.804228,39.325450,22.456554,...,217.711161,17.061352,68.275318,45.334510,62.047342,33.285064,97.067829,53.611561,44.640896,32.283624
60479,ENSG00000231119.2,0.319593,1.681566,0.274082,0.273471,0.650001,0.982808,1.044134,0.661381,0.833270,...,0.077105,4.630365,0.303466,0.777634,0.814317,0.576634,0.593305,0.492484,1.163321,0.253192
60480,ENSG00000280861.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
60481,ENSG00000123685.7,1.811362,0.800893,4.484534,1.610739,1.759149,2.699942,0.741135,3.142140,0.396869,...,1.722335,5.311792,1.434830,3.015085,1.055790,5.852849,0.953060,2.322137,1.856116,2.170615
60482,ENSG00000181518.3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [25]:
df.shape

(60483, 31)

In [26]:
#Change to log2(TPM+1) values for the bulk data
df['sample1'] = np.log2(df['sample1'].astype(float).add(1))
df['sample2'] = np.log2(df['sample2'].astype(float).add(1))
df['sample3'] = np.log2(df['sample3'].astype(float).add(1))
df['sample4'] = np.log2(df['sample4'].astype(float).add(1))
df['sample5'] = np.log2(df['sample5'].astype(float).add(1))
df['sample6'] = np.log2(df['sample6'].astype(float).add(1))
df['sample7'] = np.log2(df['sample7'].astype(float).add(1))
df['sample8'] = np.log2(df['sample8'].astype(float).add(1))
df['sample9'] = np.log2(df['sample9'].astype(float).add(1))
df['sample10'] = np.log2(df['sample10'].astype(float).add(1))
df['sample11'] = np.log2(df['sample11'].astype(float).add(1))
df['sample12'] = np.log2(df['sample12'].astype(float).add(1))
df['sample13'] = np.log2(df['sample13'].astype(float).add(1))
df['sample14'] = np.log2(df['sample14'].astype(float).add(1))
df['sample15'] = np.log2(df['sample15'].astype(float).add(1))
df['sample16'] = np.log2(df['sample16'].astype(float).add(1))
df['sample17'] = np.log2(df['sample17'].astype(float).add(1))
df['sample18'] = np.log2(df['sample18'].astype(float).add(1))
df['sample19'] = np.log2(df['sample19'].astype(float).add(1))
df['sample20'] = np.log2(df['sample20'].astype(float).add(1))
df['sample21'] = np.log2(df['sample21'].astype(float).add(1))
df['sample22'] = np.log2(df['sample22'].astype(float).add(1))
df['sample23'] = np.log2(df['sample23'].astype(float).add(1))
df['sample24'] = np.log2(df['sample24'].astype(float).add(1))
df['sample25'] = np.log2(df['sample25'].astype(float).add(1))
df['sample26'] = np.log2(df['sample26'].astype(float).add(1))
df['sample27'] = np.log2(df['sample27'].astype(float).add(1))
df['sample28'] = np.log2(df['sample28'].astype(float).add(1))
df['sample29'] = np.log2(df['sample29'].astype(float).add(1))
df['sample30'] = np.log2(df['sample30'].astype(float).add(1))

In [27]:
df.head()

,gene_id,sample1,sample2,sample3,sample4,sample5,sample6,sample7,sample8,sample9,...,sample21,sample22,sample23,sample24,sample25,sample26,sample27,sample28,sample29,sample30
0,ENSG00000242268.2,0.112939,0.094921,0.075489,0.000000,0.572498,0.000000,0.000000,0.796799,0.105442,...,0.000000,0.000000,0.098003,0.000000,0.000000,0.315991,0.000000,0.000000,0.397882,0.000000
1,ENSG00000270112.3,0.000000,0.053452,0.010713,0.000000,0.057349,0.019912,0.000000,0.000000,0.000000,...,0.019530,0.000000,0.027870,0.014615,0.000000,0.016247,0.013690,0.017831,0.000000,0.000000
2,ENSG00000167578.15,4.455535,3.151536,3.947167,3.695805,3.530913,3.390025,3.860595,3.228993,2.579518,...,3.005873,5.507681,3.548281,3.216857,3.564388,3.595025,4.283621,3.213463,4.399320,3.540603
3,ENSG00000273842.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,ENSG00000078237.5,2.693700,3.982450,3.635816,3.859437,3.588372,3.825173,2.376389,4.032203,4.039139,...,4.201246,2.586269,3.055444,3.835010,3.101007,3.326135,3.436720,4.239780,3.695858,3.566085

In [28]:
df.to_csv('bulk_data.txt', sep='\t',index=False)